# SPDX-FileCopyrightText: 2024 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

MQ_URI=amqp://guest:guest@rabbitmq
MQ_CLIENT=dc-siri-poller-dev
MQ_EXCHANGE=ingress
LOGLEVEL=DEBUG

CONFIG_PATH=./infrastructure/feed_config/siri-feeds.yaml
