# SPDX-FileCopyrightText: 2024 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

MQ_URI=amqp://guest:guest@rabbitmq
MQ_CLIENT=tr-sta-vm-to-gtfsrt-dev
MQ_EXCHANGE=routed
MQ_QUEUE=pt-feed.sta-siri-lite-vehicle-monitoring
MQ_KEY=pt-feed.sta-siri-lite-vehicle-monitoring
LOGLEVEL=DEBUG

RAW_DATA_BRIDGE_ENDPOINT=http://localhost:2000
FILESERVER_HOST=http://localhost:8080
FILESERVER_PATH=/gtfs-rt/vehicle-positions/busses/sta

NETEX_FTP_URL=ftp://anonymous:guest@ftp.sta.bz.it/netex/2026/plan/EU_profil/NX-PI_01_it_apb_LINE_apb__20260326.xml.zip
GTFS_FTP_URL=ftp://anonymous:guest@ftp.sta.bz.it/gtfs/google_transit_shp.zip
REFRESH_HOURS=24
